.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  text-align: center;
}


#welcome-image {
  float: top;
  width: 100%; /* width of container */
  height: 600px; /* height of container */
  object-fit: cover;
  position: center;
  overflow: hidden;
}




.pink-text {
margin-top: 100px;

}
.centered {
  position: relative;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-user {
  display: inline-block;
  padding: 35px;
  margin: 5% 25% 0%;
  box-shadow: 0 6px 15px 0 rgba(37, 166, 154);
  border-radius: 35px;
  transition: 0.3s;
}

.form-edit {
  padding: 35px;
  margin: 2% 25% 0%;
  box-shadow: 0 6px 15px 0 rgba(37, 166, 154);
  border-radius: 35px;
  transition: 0.3s;
}

.form-item {
  display: inline-block;
  padding: 35px;
  margin: 5% 25% 0%;
  box-shadow: 0 0px 15px 0 rgb(245, 0, 61);
  border-radius: 35px;
  transition: 0.3s;
}

.user-card {
  box-shadow: 0 0px 15px 0 rgb(107, 115, 114);
  border-radius: 30px;
  transition: 0.3s;
  padding-top: 25px !important;
  padding-bottom: 35px !important;
}

img {
  max-width: 100%;
}

.card .card-image img {
  width: 92% !important;
  margin-left: 4.2% !important;
  padding-top: 4% !important;
}

.card-content-fixed {
  padding: 6px;
  border-radius: 0 0 2px 2px;
}


h2 {
  font-weight: 100 !important;
}



/* delete this if */
  @media only screen and (min-width: 993px) { 
    .container {
        width: 77% !important;
    }
  }


.logo{
color: black;
    float: left;
    margin-left: -50px;
    margin-top: 20px;
}

.logo-home{
  color: black;
      float: center;
      margin-top: 29px;
  }


#wecome-navbar {
  background-color: white;
  height: 95px;
}

.nav-links {
  color: #6B6b69;
  margin-left: 40px;
  float: right;
  font-size: 24px;
  margin-top: 18px;
  margin-right: -10px;
}

.btnleft {
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #8597C5;
  color: white;
  font-size: 25px;
  padding: 17px 50px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.btnleft:focus {     
  background-color:#3b4b75;    
}

.btnright{
  position: absolute;
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FDEAE3;
  color: #6B6b69;
  font-size: 25px;
  padding: 17px 45px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.btnright:focus {     
  background-color:#FDEAE3;    
}

.tagline {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-30%, -30%);
  -ms-transform: translate(-30%, -30%);
  color: white;
  font-size: 50px;
}

#welcome-user-nav {
  float: right;
  font-size: 25px;
  font-weight: 300;
  margin-top: 50px;
  color: #8597C5;
  margin-right: -90px;

}

.container-nav {
  float: left;
  display: inline-block;
  margin-top: -55px;
  margin-left: -150px;
  background-color: #8597C5;
  width: 240px;
}

.button {
  padding: 0;
  width: 100px;
  border: 0;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 40px;
  float: left;
  overflow-x: hidden;
}

.button:focus {  
  background-color:white;  
  overflow-x: hidden;  
}

.dropdown {
  top: 100%;
  left: 0;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  overflow-x: hidden;
}

ul {
  /* overflow-x: hidden; */
  list-style: none;
  text-align: left;
}
li {
  /* overflow-x: hidden; */
  text-align: left;
  padding: 8px 12px;
  color: white;
  width: 200px;
}

li:hover {
  /* overflow-x: hidden; */
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}


.parenting-links {
  color: #6B6b69;
  /* margin-left: 20px; */
  margin-right: 65px;
  font-size: 25px;
}

.parenting-co {
  color: #6B6b69;
margin-left: -95px;
  font-size: 25px;
}


.container-parenting {
  background-color: white;
  width: 700px;
margin-left: 20%;
margin-right: 40%;
margin-top: 40px;
}


.line-row {
  border-bottom-style: solid;
  border-bottom-color: #6B6b69;
  border-width: thin;
  margin-top: 35px;

}

.dropdown {
  position: relative;
  display: inline-block;
}




div.menu-container {
	width: 800px;
	margin: 45px auto 0 auto;
}

.menu-item {
	width: 33.33%;
	float: left;
    position: relative;
}

.menu-item a {
	text-align: center;
	padding: 5px 0 5px 0;
	font-size: 25px;
	text-decoration: none;
  border-radius: 5px;
  background-color: white;
	margin: 0 10px 0 10px;
	display: block;
}

.menu-item a:link, .menu-item a:visited {
	color: #6B6b69;
}

.menu-item a:hover, .menu-item a:active {
	color: #8597C5;

}

.menu-item ul {
  margin-top: 2px;
  background-color: white;
	list-style-type: none;
	height: 0px;
	overflow: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    width: 86%;
  margin-left: 13px;
	
	-webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}

.menu-item:hover ul {
  height: 390px;
  background-color: #8597C5;
}

.menu-item ul li a {
	font-size: 20px;
	width: 80%;
	margin: 0 auto 0 auto;
	border-radius: 5px;
	margin-top: 0px;
}


.sub_cats {
  color: #6B6b69;
  float:left;
  font-size: 40px;
  margin-left: 50px;
  margin-right: 70%;
  margin-top: 0px;
}

.Catagory{
  font-size: 30px;
  color:#8597C5
}

.line-catagory{
  border-bottom-style: solid;
  border-bottom-color: #6B6b69;
  width: 250px;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 20px;
}

.image-boxes{
  position: left;
  width: 25%; 
  margin-left: 40px;
  
}


.images{
  border-radius: 10px;
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
  margin-left: 20px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


#sign-in-button {
  background-color: #8597C5;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 45px;
  width: 522px;
}

#sign-up-button{
  background-color: #8597C5;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 540px;
}


#sign_in {
  color: #3b4b75;
  margin-top: 40px;
}

.email-password{
  width: 98%;
  padding-left: 11px;
}

.container-signin {
  width: 600px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 100px;
  padding-right: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-signup{
  width: 600px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}




.menu-item-nav{
	width: 23%;
	float: left;
    position: relative;
    margin-top: 42px;
    margin-left: -100px;
}

.menu-item-nav a {
	padding: 5px 0 5px 0;
	font-size: 25px;
	text-decoration: none;
  border-radius: 5px;
  color: white;
	margin: 0 10px 0 10px;
  display: block;
}

.menu-item-nav a:link, .menu-item-nava:visited {
	color: #6B6b69;
}

.menu-item-nav a:hover, .menu-item-nav a:active {
	color: #8597C5;

}

.menu-item-nav ul {
  margin-top: 2px;
  background-color: white;
	list-style-type: none;
	height: 0px;
	overflow: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    width: 86%;
	
	-webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}

.menu-item-nav:hover ul {
  /* height: 370px; */
  height: 320px;
  background-color: #8597C5;
}

.menu-item-nav ul li a {
	font-size: 20px;
	width: 80%;
	margin: 0 auto 0 auto;
	border-radius: 0px;
	margin-top: -5px;
}



#leftbox { 
  float:left;  
  border-style: solid;
  border-width: thin;
  border-color: #8597C5;
  width:48.5%; 
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
} 
#middlebox{ 
  float:left;  
  border-style: solid;
  border-width: thin;
  border-color: #8597C5;
  width:48.5%; 
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
} 

/* .children-div {
  border-style: solid;
  border-width: thin;
  border-color: #8597C5;
  padding-bottom: 10px;
  margin-bottom: 5px;
} */

#edit-child-button {
  background-color: #8597C5;
  float: center;
  margin-bottom: 20px;
  margin-top: 18px;
}


#child-name {
  float:left;  
  border-style: solid;
  border-width: thin;
  border-color: #8597C5;
  width:26.5%; 
  height: 70px

}

#child-info{
  float:left;  
  border-style: solid;
  border-width: thin;
  border-color: #8597C5;
  width:48.5%; 
height: 70px
}

#child-edit-b{
  float:right;  
  border-style: solid;
  border-width: thin;
  border-color: #8597C5;
  width:25%; 
height: 70px
}


#shop{
  float: left;
  margin: 10px;
  margin-left: 20px;
  width: 90px;
}


#shop-title{
  text-align: center;
  font-weight: 300;
  color: #3b4b75;
}

#shop-line{
  width: 100%;
  margin-left: 40%;
  margin-right: 40%;
}

#shop-div{
  float: center;
  margin: 25px;
  background-color: #FDEAE3;
}

#imgshop {
  height: 15rem;
  margin-left: 11%;
}

#title-product-shop {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: -10px;
}

#shop-button {
  margin-left: 39%;
  margin-right: 35%;
  margin-bottom: 10px;
  background-color: #8597C5;
}

.text-shop {
  text-align: center;
}

#contact-us-image {
  margin-top: -18px;
  height: 45rem;
  background-image: url(https://images.unsplash.com/photo-1560328055-e938bb2ed50a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
background-size: 100%;
background-repeat: no repeat;
background-position: center;
overflow: hidden;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #8597C5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #8597C5;
}

/* Add a background color and some padding around the form */
.contact-us-div {
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  float: right;
  margin-top: 60px;
  margin-right:50px;
}

#contact-us-title {
  color: #8597C5;
}

#right-membership{
  width:45%;
  float: right;
 margin-right: 5%;
 padding-top: 2%;
}

#left-membership{
  width:40%;
  float: left;
  text-align: left;
  margin-left: 5%;
  margin-right: 2%;
 }
 
 #membership-title {
   color: #8597C5;
   font-weight: 300;
  }
  
  #left-membership-head{ 
   margin-bottom: 10px;
   color: #2B2A2A;
 }

 .h5-left-membership {
  font-weight: 300;
  padding-bottom: 1%;
  color: #6B6b69;
 }
 
 #bottom-div-welcome{
  margin-top: 30%;
  background-color: #FDEAE3;
  height: 560px;
 }

 #left-welcome-bottom{
  width:45%;
  float: left;
  text-align: left;
  margin-left: 11%;
  margin-right: 2%;
  margin-top: 10%;
 }

 


 .box {
  width: 500px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  text-align: center;
  color: #6B6b69;
  font-family: arial;
  position: relative;
}



.sb3:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 30px solid #fff;
  border-right: 30px solid transparent;
  border-top: 30px solid #fff;
  border-bottom: 30px solid transparent;
  left: 14px;
  bottom: -50px;
}

#right-welcome-bottom{
  margin-top: 5%;
  margin-left: 48%;
  border-radius: 20px;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#right-top-text {
  text-align: left;
  font-weight: 300;
  line-height: 1.4;
  margin: 10px;
  
}
#right-bottom-text {
  text-align: right;
  font-weight: 200;
  margin: 10px;
}

.btn-welcome-bottom{
  position: absolute;
  margin-top: 30%;
  right: 2%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #8597C5;
  color: white;
  font-size: 30px;
  padding: 18px 50px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.btn-welcome-bottom:focus {     
  background-color:#3b4b75;    
}

.links-signup-signin{
  color: #6B6b69;
  margin-left: 40px;
  float: center;
  font-size: 20px;
  margin-right: 40px;
  text-decoration: underline;
  font-weight: 300;
}

#top-home-img {
  object-fit: cover;
  width: 100%;
  height: 450px;
  margin-top: -20px;
}


#from-the-blog{
  word-spacing: 3px;
  color: #8597C5;
  float: left;
  margin-left: 90px;
  margin-top:50px;
  margin-right: 50%;
}

#o {
  color: #6B6b69;
  margin: 10px;
}

.blog-images{
  border-radius: 10px;
}

#blog-home-div{
  float:center;
  margin-left: 7%;
  margin-right: 7%;
  
}


#left-blog{
  margin-top: 20px;
  float:left;  
  width:30%; 
  height:280px; 
  color: #6B6b69
}

#right-blog{
  margin-top: 20px;
  margin-left: 5%;
  float:right; 
  width:30%; 
  height:280px; 
  color: #6B6b69
}

#center-blog{
  margin-top: 20px;
  margin-left: 5%;
  float:left;  
  width:30%; 
  height:280px; 
  color: #6B6b69
}

.links-blog{
  color: #8597C5;
}

.links-blog:hover{
  text-decoration: underline;
}

#about-home {
  object-fit: cover;
  margin-top: 90px;
  width: 100%;
  height: 270px;
  position: relative;
  margin-bottom: 500px;
}

#tip-title {
  color: #8597C5;
}

#tip-home{
  margin-top: 40px;
  font-weight: 350;
}

#tip-right{
  margin-left: 5%;
  float:right; 
  width:49%; 
  height:280px; 
 color: #6B6b69
}

#delete-course {
  color: white
}

#tip-left{
  margin-top: 20px;
  float:left;  
  width:45%; 
  height:280px; 
  color: #6B6b69;
}

#tip-photo {
  border-radius: 5px;
}

#tip {
  float: center;
  margin-left: 10%;
  margin-right: 10%;
}

#tip-p {
  font-size: 18px;
  float: center;
  text-align: center;
}

#line-home{
  border-bottom: 8px double #8597C5;
  margin-top: 410px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  /* border-color: #8597C5; */
}

#line-home-2{
  border-top:15px double #3b4b75;
  border-bottom:15px double  #3b4b75;
  margin-top: 480px;
  background-color: #8597C5;
  width: 100%;
  height: 200px;
}

#about-home{
  color: white;
  text-align: left;
  font-weight: 300;
  margin-bottom: -300px;
}

#title-about{
  margin-left: 10%;
  margin-top: -40px;
  float: left;
  width: 25%;
}


.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: solid white;
  border-width: 0 3px 3px 0;
  margin-top: 9px;
  display: inline-block;
  padding: 3px;
}

#button-about{
  margin-top: 90px;
  width: 20%;
  float: right;
  margin-right: 3%;
}

.btn-about{
  background-color: #3b4b75;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  padding: 16px 40px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.btn-about:focus {     
  background-color:#2a4b91;    
} 

#text-about {
  float: left;
  width: 25%;
  height: 80px;
  margin-top: 42px
}

#quote-about{
  color: #3b4b75;
  font-weight: 350;
}

#newsletter-title{
  padding-top: 60px;
  text-align: center;
  color: #8597C5;
  font-weight: 300;
}

#newsletter-logo{
  color: #3b4b75;
}

#newsletter-div{
  float: center;
  margin-left: 30%;
  margin-right: 30%;
}


#arrow-newsleeter{
  margin-top: 5px
}

.btn-newsletter{
  background-color: #3b4b75;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 17px;
  margin-left: 20%;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

#newsletter{
  height: 370px;
  margin-top: -23px;
}

#emails{
  width: 90%;
  padding-left: 10px;
}

#email{
  width: 97%;
}

#footer{
  width: 100%;
  height: 250px;
  z-index: 1000;
  background-color: #FDEAE3;
}

.logo-footer{
  margin-left: 11%;
  margin-right: 80%;
  margin-top: 45px
}


.footer-left{
  width: 20%;
  float: left;
  margin-left: 11%;
}

#year-footer{
  color: #3b4b75;
}

.footer-center{
  float:left;
  width: 30%;
  margin-top: -60px;
  margin-left: 40px;
}

#icons-footer{
  font-size: 30px;
  color: #3b4b75;
  margin-top: 0px;
}

#contact-footer{
  color: #3b4b75;
}

.icon-f{
  margin-right: 10px;
}

#email-footer{
  padding-right: 2px;
  
}

#email-icon-footer{
  font-size: 20px;
  color: #3b4b75;
  margin-top: -24px;
}

.footer-right{
  float: right;
  width: 25%;
  margin-right: 10%
}

#span-footer{
  color: #3b4b75;
  font-size: 25px;
}

.footer-company-about{
  margin-top: -65px;
}

#about-footer-text{
  text-align: left;
  padding-left: 0px;
  margin-left: 25px;
	color:  #3b4b75;
}

.footer-links{
  color:  #3b4b75;
	margin: 20px 0 12px;
  padding: 0;
  font-size: 20px;
}

.footer-links a{
  display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #3b4b75;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.footer-links .link-1:before {
  content: none;
}


.parents-photo{
  width: 100%;
}

#parents{
  float: left;
  width: 40%;
  margin-left: 7%;
  margin-top: 10px;
}

#about-us-div{
  background-color: #fff4f0;
  height: 550px;
  margin-top: -36px
}

#about-us-text{
  float: right;
  width: 40%;
  margin-right: 10%;
  font-size: 20px;
  margin-left: 20px;
}

.about-text {
  color: #3b4b75;
}

#about-names{
  color: #8597C5;
  font-weight: 300;
  padding-top: 30px
}

#quote-home-image{
  color: #3b4b75;
  font-size: 35px;
  font-weight: 400;
}

#quote-over-image{
  position: absolute;
  top: 45%;
  right: -85px;
  width: 400px;
  height: 150px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: 0.8;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

#quote-over-images{
  position: absolute;
  top: 45%;
  right: -85px;
  width: 400px;
  height: 150px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

#course-title{
  color: #8597C5;
}

#course-favs-button{
  background-color: #8597C5;
  color: white;
  height: 37px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

#course-button-back{
  background-color: #8597C5;
  color: white;
  height: 37px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 50px;
}

#course-quote-div{
  float: center;
  width: 60%;
  margin-left: 19%;
  margin-right: 15%;
  margin-top: 30px;
}

#course-image {
  width:40%;
  float: left;
  margin-right: 30px;
}

#course-content{
  margin-left: 20px;
  text-align: left;
  font-size: 20px;
}

#image-and-content{
  float: center;
  margin-left: 10%;
  margin-right: 10%;
}