.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  text-align: center;
}


#welcome-image {
  float: top;
  width: 100%; /* width of container */
  height: 700px; /* height of container */
  object-fit: cover;
}



#sing_in {
  margin-top: 100px;
}



.pink-text {
margin-top: 100px;

}
.centered {
  position: relative;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-user {
  display: inline-block;
  padding: 35px;
  margin: 5% 25% 0%;
  box-shadow: 0 6px 15px 0 rgba(37, 166, 154);
  border-radius: 35px;
  transition: 0.3s;
}

.form-edit {
  padding: 35px;
  margin: 2% 25% 0%;
  box-shadow: 0 6px 15px 0 rgba(37, 166, 154);
  border-radius: 35px;
  transition: 0.3s;
}

.form-item {
  display: inline-block;
  padding: 35px;
  margin: 5% 25% 0%;
  box-shadow: 0 0px 15px 0 rgb(245, 0, 61);
  border-radius: 35px;
  transition: 0.3s;
}

.user-card {
  box-shadow: 0 0px 15px 0 rgb(107, 115, 114);
  border-radius: 30px;
  transition: 0.3s;
  padding-top: 25px !important;
  padding-bottom: 35px !important;
}

img {
  max-width: 100%;
}

.card .card-image img {
  width: 92% !important;
  margin-left: 4.2% !important;
  padding-top: 4% !important;
}

.card-content-fixed {
  padding: 6px;
  border-radius: 0 0 2px 2px;
}


h2 {
  font-weight: 100 !important;
}



/* delete this if */
  @media only screen and (min-width: 993px) { 
    .container {
        width: 77% !important;
    }
  }


.logo{
color: black;
    float: left;
    margin-left: -50px;
    margin-top: 15px;
}

.logo-home{
  color: black;
      float: center;
      margin-top: 29px;
  }


#wecome-navbar {
  background-color: white;
  height: 86px;
}

.nav-links {
  color: #6B6b69;
  margin-left: 40px;
  float: right;
  font-size: 24px;
  margin-top: 15px;
  margin-right: -10px;
}

.btnleft {
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #8597C5;
  color: white;
  font-size: 25px;
  padding: 17px 50px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.btnleft:focus {     
  background-color:#3b4b75;    
}

.btnright{
  position: absolute;
  top: 55%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FDEAE3;
  color: #6B6b69;
  font-size: 25px;
  padding: 17px 45px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.btnright:focus {     
  background-color:white;    
}

.tagline {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-30%, -30%);
  -ms-transform: translate(-30%, -30%);
  color: white;
  font-size: 50px;
}

#welcome-user-nav {
  float: right;
  font-size: 25px;
  font-weight: 300;
  margin-top: 50px;
  color: #8597C5;
  margin-right: -90px;

}

.container-nav {
  float: left;
  display: inline-block;
  margin-top: -55px;
  margin-left: -150px;
  background-color: pink;
}

.button {
  padding: 0;
  width: 100px;
  border: 0;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 40px;
  float: left;
  overflow-x: hidden;
}

.button:focus {     
  background-color:white;  
  overflow-x: hidden;  
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  overflow-x: hidden;
}

ul {
  /* overflow-x: hidden; */
  list-style: none;
  text-align: left;
}
li {
  /* overflow-x: hidden; */
  text-align: left;
  padding: 8px 12px;
  color: black;
  width: 200px;
}

li:hover {
  /* overflow-x: hidden; */
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}


.parenting-links {
  color: #6B6b69;
  /* margin-left: 20px; */
  margin-right: 65px;
  font-size: 22px;

}


.container-parenting {
  background-color: white;
  width: 700px;
margin-left: 22%;
margin-right: 40%;
margin-top: 40px;
}


.line-row {
  border-bottom-style: solid;
  border-bottom-color: #6B6b69;
  border-width: thin;
}

.dropdown {
  position: relative;
  display: inline-block;
}
